body{
  background-color: black;
}
      
p{
      color: white;
      font-family: 'Fredoka One';
  padding:10px;
      
    }
#restartcontent:hover{
  background: rgba(0,0,0,0.25);
  
}
a {
  color: #edd9a4 !important;
  font-size: 80px;
}
a:hover {
  color: yellow !important;
}
p:hover{
  color: #73d9a4;
}